* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  /* border:1px solid black; */
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 50px auto;
  background-image: linear-gradient(
    260deg,
    hsl(240deg 100% 20%) 0%,
    hsl(311deg 100% 25%) 19%,
    hsl(334deg 100% 40%) 33%,
    hsl(6deg 98% 61%) 47%,
    hsl(37deg 100% 50%) 61%,
    hsl(55deg 100% 50%) 100%
  );
}
.heading {
  text-align: center;
  margin: 10px;
}
.input-value {
  width: 200px;
  padding: 5px;
  outline: none;
  border-radius: 10px;
}
.input_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-radio {
  margin: 14px;
}
.height-weight {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.result,
.overview {
  text-align: center;
  font-size: 1.3em;
  margin-top: 10px;
  font-weight: 700;
}

button {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  background-color: blueviolet;
  color: white;
  text-transform: capitalize;
}
